
html{
   background-color: #131313;
}


.app{
    max-width: 1440px;
    margin: auto;
    @extend .jost;
}


body{
    background-color: $page-background;
    scroll-behavior: smooth;
    min-height: 100dvh;
}


