.cl-gap-46{
    gap: 46px;
}

.cl-gap-12{
    gap: 12px;
}


.cl-pd-200x{
    color: aliceblue;
    @media screen and (max-width:1440px) {
        @apply container;
        @media screen and (min-width:48rem){
            max-width: 90vw;
        }
    }

    @media screen and (min-width:1440px) {
        @apply px-[200px];
    }
}

.cl-text-blue-primary{
    color: $blue-primary;
}

.cl-blue-text{
    color:$blue-text;
}




