//DIMENSIONS
$max-screen-width: 1440px;
$hero-height: 672px;
$height-header: 96px;
//COLORS
$white: #FFFFFF;
$page-background: #F8F8F8;
$primary-color: #DB2734;
$grey-primary:#788A8B;
$blue-primary: #4652CE;
$red-600: #DB2734;
$blue-text:#292F6C;
$black-text:#000000;